[2013-06-05 13:10] mbj opened #1 "Put full gittip url on the homepage."

[2013-06-07 08:53] solnic opened #2 "Make it pretty :)"

[2013-06-07 08:53] solnic opened #3 "Add about page"

[2013-06-07 08:53] solnic opened #4 "Add status page"

[2013-06-07 08:54] solnic opened #5 "Add Team page"

[2013-06-07 08:54] solnic opened #6 "Finalize Roadmap and move it to its own page"

[2013-06-07 08:54] solnic opened #7 "Add a home page (currently it's roadmap)"

[2013-06-07 08:54] solnic opened #8 "Add a placeholder for documentation and tutorial pages"

[2013-10-28 16:01] octosteve opened #9 "Default Title"
The title on the page is defaulting to "The Middleman". Please add a default title.

[2014-05-26 10:47] #9 closed, assigned to nobody

[2014-12-14 20:18] #1 closed, assigned to nobody

[2014-12-14 20:18] #2 closed, assigned to nobody

[2014-12-14 20:18] #3 closed, assigned to nobody

[2014-12-14 20:18] #4 closed, assigned to nobody

[2014-12-14 20:18] #5 closed, assigned to nobody

[2014-12-14 20:18] #6 closed, assigned to nobody

[2014-12-14 20:18] #7 closed, assigned to nobody

[2014-12-14 20:18] #8 closed, assigned to nobody

[2014-12-14 20:20] solnic opened #12 "Add more information to the footer"
* made with middleman
* hosted on github
* logo by Ben Darlow
* bootstrap theme flatly

[2014-12-15 12:25] solnic opened #14 "Add status page"
ROM consists of the core gem and adapters and it would be very helpful to show everything on one page along with version numbers and some information about stability of individual pieces.

For instance rom and rom-sql 1.0.0 will be released soon but rom-mongo will remain < 1.0.0 for a while. The same will happen with other adapters.

[2014-12-15 14:59] solnic opened #15 "Add section about integration with Rails"
Rough organization:

[code]

[2014-12-17 14:54] solnic opened #17 "Share button doesn't include page title for some reason"
It's supposed to take page title by default and it doesn't seem to be doing that

[2014-12-17 14:55] solnic opened #18 "Page titles should always include "Ruby Object Mapper | Page sub-title""
Currently doc page titles only include the current doc title which isn't enough. We should prepend "Ruby Object Mapper | " to every page that doesn't have that.

[2014-12-31 20:39] #15 closed, assigned to nobody

[2014-12-31 20:39] #17 closed, assigned to nobody

[2014-12-31 20:39] #18 closed, assigned to nobody

[2015-01-01 16:21] solnic opened #28 "Fix menu on mobile devices"
We should use some JS thingy to convert nav into a hamburger mobile menu

[2015-01-02 07:13] postmodern opened #32 "In ROM Rails tutorial, don't use the ambiguous term "tasks""
Was just reading the [ROM Rails tutorial](http://rom-rb.org/tutorials/rails/getting-started/) and was confused by the term `:tasks`. Task can refer to rake/make tasks or batch tasks. I suggest changing all instances of `:tasks` to something like `:todos`.

[2015-01-02 14:11] solnic opened #33 ""Why ROM" section needs a better explanation"
Based on the feedback on [reddit thread](http://www.reddit.com/r/ruby/comments/2r0as2/ruby_object_mapper_050_released_along_with_a_big/cnbixdu)

[2015-01-04 18:08] elskwid commented on #12
Contact Ben and ask if we can credit him.

[2015-01-27 00:42] elskwid commented on #14
Status page added in d435872a04953e82.

URL: http://rom-rb.org/status/

![rom ruby object mapper - status 2015-01-26 16-40-46](https://cloud.githubusercontent.com/assets/9002/5911401/1970c44c-a57a-11e4-8fe7-a52f1436472b.png)

[2015-01-27 00:42] #14 closed

[2015-01-27 05:27] splattael commented on #14
:metal:

[2015-01-27 08:34] solnic commented on #14
oh wow I did not see that coming :) awesome!

[2015-01-27 09:55] aflatter commented on #14
:+1: nice

[2015-01-29 19:37] booch opened #41 "Include domain models/objects in introduction"
The example in the README and the diagram in the Overview don't show the domain model. This is pretty confusing, since the result in the example returns an instance of the domain model (`Users` in the example in the README). Adding the domain model to the diagram would help me understand better how ROM works with my domain model. Especially since Rails has given everyone the mind-set of thinking a

[2015-01-29 20:02] solnic commented on #41
My assumptions was that "Your Application" pretty much means "Domain model". Maybe it should be simply renamed to "Domain model"? Would that explain it better?

Regarding README, I can see how this might be confusing. I wrote that example focusing mostly on showing code parts of ROM, that `model name: 'User'` creates a model constant for you but in typical cases you pass in some of your classes th

[2015-01-29 20:18] solnic commented on #41
I [updated](https://github.com/rom-rb/rom/commit/6bcb3fd4b99951eb0848263471938d1b8b771b63) the README in ROM with some additional comments and showing an explicit domain model class. I hope it reads better now.

Regarding automation and heavy usage of reflection - this is planned but it's not a high priority. I know people are used to defining a single class that "does all the magic" so seeing 4 c

[2015-01-30 10:29] solnic opened #42 "Update Rails tutorial to 0.6.0"
Since 0.6.0 is around the corner we should update tutorial before pushing the release so the site can be updated quickly

- [x] update to use sub-classes of relation and mappers
- [x] update to use Form objects (skip commands completely)

[2015-02-02 11:28] solnic opened #43 "Add a page about contributing?"
How about adding a dedicated page with all the information about how to become a contributor? There's a lot of knowledge common for all rom-* projects so it feels wrong to duplicate it in CONTRIBUTING file in each repo.

This page could cover things like:

* Code style guidelines (probably boils down to "run rubocop" to get feedback however I'm worried that people might be pushed by rubocop to do

[2015-02-12 16:13] elskwid opened #44 "Add AR | ROM side-by-side comparison"
I would like to add a section to the site where you can compare how you do things in ActiveRecord and what the corresponding code looks like in ROM.

In AR you would do this: [code]
In ROM it would look like this: [code]

[2015-02-12 16:15] elskwid opened #45 "Document methods of migrating from DM to ROM"
You can hide DM behind ROM for an easier transition. Let's document that!

[2015-02-12 16:15] elskwid opened #46 "Document methods of migrating from AR to ROM"
You can hide AR behind DM. Let's document that.

[2015-02-12 16:16] elskwid opened #47 "Document use cases for ROM where ORMs might not work"
There are situations where traditional ORMs would be difficult or unwieldy to use. Would be good to capture our ideas and provide more guidance as to how ROM can help.

[2015-02-12 22:37] mjtko commented on #46
I think you mean "hide AR behind ROM". :smile:

[2015-02-13 00:08] elskwid commented on #46
Fixed. (And how do *you* know what I mean?!?) :stuck_out_tongue:

[2015-02-13 00:43] mjtko commented on #46
Spooky, huh! :ghost:

[2015-02-13 09:04] maetl commented on #42
Can someone link to a Gist or quick example of form objects?

[2015-02-13 11:00] solnic commented on #42
@maetl see ie [here](https://github.com/rom-rb/rom-rails/blob/master/spec/dummy/app/models/update_user_form.rb) in rom-rails + other specs etc.

If something's unclear I can give more examples :)

[2015-02-13 11:02] solnic commented on #42
...I guess the crucial bit is this:

[code]

[2015-02-13 13:27] maetl commented on #42
Made a start on this in #48.

[2015-02-13 13:29] solnic commented on #42
Awesome thank you! :)

[2015-02-13 13:34] solnic commented on #42
btw when rom-rb/rom-rails#25 is merged generators will be producing sub-classes

[2015-02-18 17:17] solnic opened #49 "Add info about CoC to the community section"
Proposed info could include:
- List all the communication channels (gitter, forum, twitter etc.)
- Provide general information how to get involved, where to report issues, how etc.
- Links to contributing-related resources on website
- Section with a CoC

This should be discussed before any work starts. Please provide feedback in the comments of this issue.

[2015-03-02 16:05] solnic opened #50 "Add "edge" version of docs and tutorials to the site"
It would be great to have a way of updating docs and tutorials during development so that it doesn't end up as a last big and overwhelming task just before a release.

[2015-03-03 01:12] maetl commented on #50
I think this can be partially solved by some changes to the navigation/content structure of the docs. As well as the normal distinction between tutorials, guides and references, we should consider an additional layer of distinction based on rate of change.

I have some ideas around how to do this—let’s keep the discussion going, and look at addressing this more thoroughly once the Rails tutorial c

[2015-03-03 01:50] maetl opened #51 "Guide for authors interested in writing adapters and extensions"
This would help fill some of the gaps in knowledge around extensions and take some of the pressure off the contributors guide (see: #43), in terms of helping people to ramp up as contributors to ROM.

A guide should address the following details:

- The range of different possibilities for extending ROM
- The kinds of things that we want to see built
- High level description of the dataset and rep

[2015-03-03 11:54] solnic commented on #51
:+1: this definitely deserves a separate sub-section in "guides"

[2015-03-03 11:56] solnic commented on #50
Sounds good. There are also some implementation details of the website itself that are suboptimal (too much duplication). I almost wonder if we should build an app for the website as sticking to middleman might not be feasible.

[2015-03-08 09:00] maetl opened #54 "Add a tutorial covering Roda integration"
[Roda](http://roda.jeremyevans.net) is a tree based HTTP router/request dispatcher, similar to other HTTP microframeworks like Sinatra, Cuba, etc. Several people have mentioned they’d like to see more details about how to integrate ROM with Roda.

This tutorial has the potential to be an interesting alternative to Rails and Sinatra, perhaps written for a more advanced audience, with more detail ab

[2015-03-08 09:27] maetl commented on #32
In a production app, particularly with a more intricate relational model, I would almost certainly use the term `tasks`, as it is unambiguous in the specific context of the model. But a tutorial is a different context—readability and understandability at a glance is extremely important.

I notice the cannonical Backbone model uses `todo` rather than `task`: http://backbonejs.org/docs/todos.html

`

[2015-03-08 11:19] solnic commented on #32
Sorry, I missed that issue - I don't have an opinion, as in both work for me :) Feel free to rename. FWIW we also use user/task combo in the source code of ROM and its test suites. I'm fine with a mass-rename, really.

[2015-03-08 11:21] solnic commented on #54
My plan is to build a POC with Roda + ROM and show how I would like to organize things. It could be a nice starting point for further discussions.

[2015-03-08 14:26] maetl commented on #32
I’m okay with tasks for the time being. As long as the text is explicit about the meaning in the context of a todo list.

Will leave this open until the new tutorial lands and 0.6 is released—we can get a few people to read it, and see if it’s still confusing.

[2015-03-18 12:05] maetl commented on #43
FYI, I’ve started working on this.

[2015-03-18 13:03] maetl opened #56 "License website content under Creative Commons (or similar)"
The copyright (c) on the site is currently “Ruby Object Mapper 2014-2015”. This is fine for now at a small scale, but as the site grows and more people contribute, it would be good to be very clear about how the content is made available.

One of the Creative Commons family of licenses (or a specific software documentation license) might be suitable here.

- https://www.gnu.org/philosophy/license-

[2015-03-18 13:42] solnic commented on #56
Yes of course. This is related to #12

[2015-03-18 13:42] #43 closed

[2015-03-21 02:46] maetl commented on #42
Initial version of the new tutorial with forms was merged with a8d6ccdceeb5491297e6497824d1c77b09a027d5.

[2015-03-21 02:46] #42 closed

[2015-03-23 01:51] ginjo commented on #44
I would love to see DM added to this comparison... a side-by-side-by-side.

[2015-03-23 11:51] solnic commented on #44
I'm having second thoughts about this. Feels like comparing apples to oranges. I think we should discuss it before publishing any comparisons. Since ROM is so fundamentally different from AR and DM it may give a wrong impression in many cases that it's "too complex".

[2015-03-24 12:42] maetl opened #61 "RFC: Content model for documentation (towards 1.0)"
This is a proposed structure for documentation on `rom-rb.org`. The content model provides a roadmap/demonstration of how to handle the long-term structure of the growing collection of content and how different topics can be represented.

Some of the names can potentially be changed around, but I think this is roughly what’s needed for 1.0.

Keep in mind that this is not about defining visual navi

[2015-04-20 10:02] solnic opened #63 "Fix API links"
Original issue: https://github.com/rom-rb/rom/issues/190

[2015-05-09 02:41] carlisia commented on #32
@solnic, @maetl I recently read the tutorial and did not find the term `task` confusing at all. Perhaps this issue could be closed.

[2015-05-09 12:30] solnic commented on #32
Yes I think we should close it. We haven't heard any complaints about this name except this one.

[2015-05-09 12:30] #32 closed

[2015-05-22 14:35] solnic opened #70 "Update rails tutorial"
- [ ] switch to use rom migrations from rom-sql
- [ ] consider replacing `Form` with more idiomatic ROM code (needs discussion)
- [ ] update to rom 0.9.0
- [ ] consider using `rom-repository` rather than plain relations

[2015-05-23 00:30] maetl commented on #70
By ‘go away’, do you mean replace with an example of migrations using ROM/Sequel, or just removing the mention of it altogether?

[2015-05-23 08:59] solnic commented on #70
Replace AR's migrations with ROM's (:

[2015-06-03 11:45] stravid opened #75 "Feedback and comments collected by going through the guides"
**Setup page**
I initially thought the `:sql` in `ROM::Relation[:sql]` refers to what gateway the relation should use. The `gateway` method a few paragraphs down suggests that is not the case and I have to find out later.

**Relations page**
I really like the glossary.

Due to my lack of Ruby skills this line `name_list = -> users { users.map { |user| user[:name] }` took some time to process and i

[2015-06-03 18:09] nepalez commented on #75
@stravid thanks, David. Will change this in a mappers

[2015-07-17 02:02] robinetmiller opened #81 "Error in example code?"
First day ROMming. Reading the documentation, starting with the Setup guide ( http://rom-rb.org/guides/basics/setup/ ).

Is the code under "Defining Components" correct?
[code]

Should that be `ROM::Relation` not `ROM::Memory`? `Memory` doesn't run for me, but `Relation` does (and makes more sense).

[2015-07-17 08:40] AMHOL commented on #81
Hi @robinetmiller, yep, looks like that should be `ROM::Relation[:memory]`

[2015-07-17 08:44] #81 closed

[2015-08-12 23:14] lengarvey commented on #75
## SQL Adapter guide

I don't understand what this is meant to mean.

//cc @solnic

[2015-08-13 10:15] maetl commented on #75
@lengarvey See #85

[2015-08-18 04:50] jaredbeck opened #87 "rom 0.9.0.rc1: Setup example raises ROM::Registry::ElementNotFoundError"
The last example on http://rom-rb.org/guides/basics/setup/ raises `ROM::Registry::ElementNotFoundError`.

To reproduce:

[code]

Run with `bundle exec ruby setup.rb`.

[code]

I don't know if this is a docs issue or a regression in rom 0.9.0.rc1, but I'm being optimistic and reporting it here.

[2015-08-18 07:49] AMHOL commented on #87
@jaredbeck that needs updating, automatic registration has been moved to a plugin to allow for multi-env support, you will need to call `ROM.use :auto_registration` somewhere before `ROM` components (relations, commands and mappers) are loaded to match the old behaviour.

[2015-08-18 08:18] solnic commented on #87
I'm sorry for this. Guides are not up to date with 0.9.0 yet.

[2015-08-19 15:59] jaredbeck commented on #87
What is the recommended alternative to `ROM.use :auto_registration`? Is there is an API for manually registering relations, mappers, etc.

[2015-08-19 17:18] AMHOL commented on #87
@jaredbeck the alternative is to create an environment and register components manually:

[code]

However, you can still create a `ROM::Environment` and use the `:auto_registration` plugin, it also now accepts an `:if` proc to determine whether to register the class or not:

[code]

[2015-08-19 17:22] AMHOL commented on #87
Also worth noting that the regex in the example returns the full namespace so in most cases you're probably just better off using `String#start_with?`

[code]

[2015-08-22 03:37] jaredbeck commented on #87
Closing via https://github.com/rom-rb/rom-rb.org/pull/88

[2015-08-22 03:37] #87 closed

[2015-08-22 03:43] jaredbeck commented on #87
I like this recommendation, btw. It seems like a situation where explicit is better than implicit. I'm guessing you were using `Class.inherited` before, and that's a bit too magical for my taste; ruby is the only language I know of that has that callback.  Also, I'd imagine removing the callback just makes the framework simpler.

[2015-08-22 12:11] solnic commented on #87
@jaredbeck it's a convenient feature that we managed to work properly inside framework-integration gems; having said that, it was a really really bad approach for cases where you want to use ROM in a shared piece of code which is meant to provide rom components (ie a library that encapsulates data access to some API using `rom-http`, ships with its own relations and commands). For this reason the

[2015-09-02 14:16] LimeBlast commented on #70
I'm not sure if this is the right place to put this, but there needs to be some changes to the migration file that's created in the template for the tutorial.

Right now, all new records created are going to have an `is_complete` value of `NULL`, but the sample code you provide further down the page relies upon this value being `true` or `false`. This is a [three-state boolean problem](http://rom-

[2015-09-11 17:49] solnic commented on #70
@LimeBlast thanks for feedback, this tutorial is seriously outdated and has various issues, as you noticed :(

[2015-09-29 10:59] solnic opened #105 "Add Rails guide"
A simple rails guide should include:

- [ ] information about initializer-based setup
- [ ] information about automatic setup when AR is present with database.yml
- [ ] information about directory structure for relations, mappers and commands

All of the above is covered by Rails tutorial but a simple guide will be better for now.

[2015-11-06 04:28] adz commented on #70
@LimeBlast I've tried to address that tri-state boolean issue https://github.com/rom-rb/rom-rb.org/pull/108

[2015-11-06 09:27] LimeBlast commented on #70
@adz :+1:

[2015-12-19 04:13] angeloashmore opened #111 "New Design"
Hello!

I know the design of the site is probably a low priority for ROM, but it's one way I could possibly contribute to the project. A welcoming landing page could entice more developers.

I created the attached designs in Sketch, but I can move forward into making this a full fledged site with Middleman.

Let me know if you would like me to move forward or hold off. Thanks!

<a href="https://cl

[2015-12-19 15:47] solnic commented on #111
Angelo thank you so much for this! I like where this is going, please continue :)

[2015-12-21 10:27] AMHOL commented on #111
Nice :heart:

[2015-12-28 12:03] gotar commented on #111
+1

[2015-12-28 12:09] kwando commented on #111
:+1:

[2015-12-28 15:12] sagmor commented on #111
Awesome! :+1:

[2015-12-28 21:43] angeloashmore commented on #111
Thanks! :smile:

Quick update: I'm working on this as I have time. You can see the progress at [angeloashmore/rom-rb.org](/angeloashmore/rom-rb.org).

I also mocked up the mobile pages:

<img width="200" src="https://cloud.githubusercontent.com/assets/8601064/12025964/281ec8d6-ad58-11e5-904f-771923e98b1c.png"> <img width="200" src="https://cloud.githubusercontent.com/assets/8601064/12025963/27f2bb

[2015-12-29 12:19] solnic commented on #111
I really like it so far, love the purple accent :) BTW I replaced intro/guides/tutorials yesterday with pages informing that they are being rewritten, you could pull that into your fork and be able to easily update overall html structure etc. as there's way less content now.

[2015-12-30 00:45] robinetmiller commented on #111
Are the colours for the syntax highlighting just pulled from the logo? It seems a little busy, and the yellow is difficult to parse.

[2015-12-30 02:50] angeloashmore commented on #111
The syntax highlighting is base16-paraiso-dark. That's the demo of the colors I copy and pasted. Actual code snippets should be much less colorful. And if not, it's just a single CSS file change away. :smile:

[2016-01-04 20:02] robinetmiller commented on #111
@angeloashmore To loop you in: the fork at https://github.com/TenjinInc/rom-rb.org is in the process of getting the new docs into markdown. I'm also merging the Introduction and Guides headers into one "Learn" subsection, and grouping together related things.

We may want to collaborate with each other (even in the same repo) to avoid toe-trodding. I think it would be fantastic to get the new docs

[2016-01-10 08:30] solnic commented on #111
@robinetmiller @angeloashmore would it be possible to merge new-design-fork with new-docs-fork some time next week? I'll be working on docs full-time throughout the week with the goal to publish updated website on Friday :)

[2016-01-16 05:14] angeloashmore commented on #111
@solnic @robinetmiller Sorry for the delay. I returned to school this week and am still adjusting to the different schedule. I'm still working on this when I am able to.

The landing page and base styles have been completed. I'm starting to style the sub-pages (guides, blog, etc.). I'll post updates as they are completed.

I saw the new docs were published. Looks good! If it's okay with you, I'll

[2016-01-16 05:45] angeloashmore commented on #111
![screen shot 2016-01-15 at 7 44 52 pm](https://cloud.githubusercontent.com/assets/8601064/12370740/7faf09aa-bbc0-11e5-9c53-b3335de57836.png)

[2016-01-17 02:12] angeloashmore commented on #111
Preview at:
- Landing pagehttp://crazy-authority.surge.sh
- Sub-page: http://crazy-authority.surge.sh/guide

[2016-01-17 10:40] solnic commented on #111
Angelo, I love it, thank you! Let me know if you need help with anything to
finalize this :)

On Sun, 17 Jan 2016 at 02:12, Angelo Ashmore <notifications@github.com>
wrote:

[2016-01-28 23:20] angeloashmore commented on #111
@solnic @robinetmiller Are the doc files in master the latest? Finishing up a few things with the design and want to ensure compatibility.

[2016-01-28 23:28] solnic commented on #111
@angeloashmore fantastic! yes, current master is what we have published at rom-rb.org

[2016-01-28 23:30] angeloashmore commented on #111
Cool, I should have it finalized today for you to check out. As always, I'm open to any suggestions. :smile:

[2016-01-28 23:31] solnic commented on #111
Amazing! Looking forward to it <3

On Fri, Jan 29, 2016 at 12:30 AM Angelo Ashmore <notifications@github.com>
wrote:

[2016-01-29 03:23] angeloashmore commented on #111
Hosted preview: https://crazy-authority.surge.sh
Repository: https://github.com/angeloashmore/rom-rb.org

Everything should be working, but let me know if something appears broken.

[2016-01-29 16:37] solnic commented on #111
@angeloashmore thanks, this looks gorgeous. Could you maybe send a pull request?

[2016-01-30 11:20] angeloashmore commented on #111
@solnic PR sent: https://github.com/rom-rb/rom-rb.org/pull/117

[2016-01-31 13:32] #111 closed

[2016-03-30 15:25] muescha opened #120 "Restore "Edit this article on GitHub" links"
the link "Edit this article on GitHub" is broken because the repo is moved from https://github.com/tenjininc/rom-rb.org/ to https://github.com/rom-rb/rom-rb.org/

[2016-05-27 10:00] solnic opened #121 "Update Philosophy section with new resources"
Stuff to add:

- [x] Brad's talk about AR vs Ecto http://confreaks.tv/videos/railsconf2016-activerecord-vs-ecto-a-tale-of-two-orms

[2016-05-29 21:07] CucumisSativus opened #123 "Update Rails Setup"
Rails setup page have some missing parts. So below you'll find the things which are missing IMO
- [ ] using generators
- [ ] defining repositories
- [ ] defining forms
- [ ] Update `ROM.container` to `ROM.env`

Not sure if thats not the duplicate of #70 but here I'm mentioning only setup as such, not the tutorial. If it is a duplciate, please feel free to close this issue

[2016-05-30 19:37] CucumisSativus opened #126 "Examples from simple-objects raises deprecation warnings"
Repository examples from `learn/reading/simple-objects` are inherited from `ROM::Repository::Base` and looks like its deprecated
[code]
Documentation should be updated, OMW to fix this issue

[2016-05-30 19:56] CucumisSativus commented on #120
Looks like there's no such link on the new master. @solnic would you like to have such a link on the new page?

[2016-05-31 02:47] cflipse commented on #123
So, the thing in here that I'm not sure of ...

ROM-rails forms and ROM-repositories are from, umm, different conceptual eras.  I don't know how well they're going to blend together, and I'm not sure that _attempting_ to do so won't make things more confused than they are even without documentation ...    :/

[2016-05-31 10:10] #126 closed

[2016-05-31 18:37] muescha commented on #120
i see the edit link here at this page: http://rom-rb.org/learn/

[2016-05-31 21:16] CucumisSativus commented on #123
@cflipse that's why I opend this Issue. I'm quite fresh to ROM and I'd like to prepare documentation :). So in your opinion which of them should be used in Rails example?

[2016-06-27 19:28] angeloashmore opened #132 "Publish new website"
The new website has not been published yet. Are there any outstanding tasks to be completed before updating it?

[2016-06-28 08:52] solnic commented on #132
Apologies for this massive delay. dry-rb gems have been taking a lot of my time in the past few months and I couldn't finalize things on rom-rb side. We'll publish the new website along with the new release, I hoped to get it done by the end of June but it turned out to be impossible, so...hopefully July.

The only blocker we have for the website is updating content (updated docs, new guides, mayb

[2016-06-30 10:27] solnic opened #133 "Add docs for relation schemas and types"

[2016-06-30 10:28] solnic opened #134 "Update docs for repositories"
We have a bunch of new features:

* defining root repos via `Repository[:rel_name]`
* commands macro
* aggregate interface

[2016-06-30 10:29] solnic opened #135 "Update rom-sql docs"
We have a new schema dsl in core and rom-sql extends it with `associate` feature that needs docs.

[2016-07-07 09:33] #75 closed

[2016-07-08 22:04] vaz commented on #120
Here's where it seems to be generated: https://github.com/rom-rb/rom-rb.org/blob/guides/config.rb#L116-L122

It's updated in that file, but still not on the site. Does it just need to be redeployed?

[2016-07-09 07:29] solnic commented on #120
we'll update the website later this month so this will work again, sorry about that

[2016-07-21 16:42] cpgo opened #136 "Link to "frameworks" section is broken on flat-style page"
Can't find link mentioned on this page:
https://github.com/rom-rb/rom-rb.org/blob/master/source/learn/advanced/flat-style.html.md

[2016-07-25 19:52] solnic commented on #132
@angeloashmore hey, we're gonna publish the site this Wednesday. I pushed it to next.rom-rb.org for now as I'm still updating content :)

[2016-07-25 19:55] solnic opened #137 "Add automatic generator for sidebar nav in Learn"

[2016-07-25 19:56] solnic opened #138 "Add "Multi-Database Setup" guide"

[2016-07-25 19:56] solnic opened #139 "Add "Using File Uploaders" guide"

[2016-07-25 19:57] solnic opened #140 "Add "User Auth with rom-rb" guide"

[2016-07-25 20:00] #105 closed

[2016-07-25 20:03] solnic commented on #44
Gonna close this one since eventually I think it doesn't make much sense. AR is *huge* and comparing it won't provide much value. Feel free to re-open if you don't agree.

[2016-07-25 20:03] #28 closed

[2016-07-25 20:04] solnic commented on #133
done in new version

[2016-07-25 20:04] #133 closed

[2016-07-25 20:04] #134 closed

[2016-07-25 21:02] angeloashmore commented on #132
That's awesome! Let me know if you need help. I won't be much help writing documentation, but I can implement any styling or structural changes.

[2016-07-25 21:45] angeloashmore commented on #137
This should be pretty easy to implement, but a few changes would be necessary:

- [ ] **Add ordered number prefixes to filenames**
  This will allow an explicit ordering of guides. For example:
  - `learn/introduction/01__philosophy.html.md`
  - `learn/introduction/02__why.html.md`
  - `learn/introduction/03__overview.html.md`
  - `learn/introduction/04__active-record.html.md`
  - `learn/introduct

[2016-07-26 13:05] solnic commented on #137
I did something like that in [dry-rb.org](https://github.com/dry-rb/dry-rb.org) but used a different strategy - every main section page defines `sections` in its frontmatter with a list of sub-sections, then we use this meta-data to generate links in correct order. WDYT?

[2016-07-26 13:48] solnic commented on #132
@angeloashmore actually...I could use some help with improving spacing and header styles in /learn. I tweaked it a little so that we display a `:title » :chapter` at the top by default, but I feel like letters are too small and spacing between the header and first paragraph is too small too.

[2016-07-26 20:30] robinetmiller opened #143 "2.0 Docs Feedback"
These are the notes of what I've read through so far in the docs. This is a bit of a brain dump, but I've tried to clarify it as best I can, and updated based on changes made in the past day or two.

**General**
- [x] Core link is broken
- ~~General usage tips is TODO~~ Seems to be gone entirely
- [x] Relations is TODO~~
- "simply" or "just"  is used a lot, but often isn't necessary. The reader wi

[2016-07-27 16:28] solnic commented on #132
OK we managed to apply these tweaks :) It's published now...thank you once again for your help :)

[2016-07-27 16:28] #132 closed

[2016-07-27 16:28] #63 closed

[2016-07-27 16:29] solnic commented on #120
I didn't manage to restore these links, help-wanted ;)

[2016-07-31 19:14] #137 closed

[2016-07-31 19:43] solnic commented on #136
This is fixed in the new version of the site.

[2016-07-31 19:43] #136 closed

[2016-07-31 19:43] #12 closed

[2016-07-31 19:43] #135 closed

[2016-07-31 19:44] #44 closed

[2016-07-31 19:44] #121 closed

[2016-08-18 09:55] solnic opened #164 "Improve /learn/advanced/combine"
Based on feedback from #162
- [ ] Add information about repository's auto_combine and `for_combine` method (this is implemented only by rom-sql, so other adapters don't provide it and you need to implement it yourself)
- [ ] Add information about relation graphs and how they are handled by mappers

[2016-08-29 10:04] solnic opened #166 "Document custom datasets in rom-sql"
There's no information about overridding `dataset` using a block

[2016-10-15 16:34] solnic opened #168 "Document a simple standalone setup with auto_registration"
A corresponding repo would be cool, too.

[2016-10-16 11:16] alexandru-calinoiu opened #169 "Gateway link in leard advance topis is broken"
Any thoughts where this https://github.com/rom-rb/rom-rb.org/blob/master/docs/learn/advanced/flat-style-setup/index.html#L84 should point to.

[2016-10-16 17:26] solnic commented on #169
Oh, it should point to `/learn/glossary#gateway` and we also need to actually add anchors to this page.

[2016-10-18 00:51] angeloashmore opened #170 "Remove docs and bin directories"
- `docs` is the built site derived from the `source` directory. PRs are editing files in the `docs` dir, not the `source` dir, so the changes will be lost on the next build.
- `bin` contains a single file to build and push the site. This is already provided by the `middleman-deploy` plugin. It builds the site and pushes it to the `gh-pages` branch.

[code]

[2016-10-18 06:01] alexandru-calinoiu commented on #169
Fixed it here https://github.com/rom-rb/rom-rb.org/pull/171

[2016-10-18 15:16] janjiss commented on #140
@solnic Which web framework do you want this to be documented with?

[2016-10-23 21:35] solnic commented on #140
I'd say we should start with a plain warden-based solution. I checked most auth solutions a year ago and literally nothing could be used with rom easily as they all assume an AR ORM.

[2016-10-24 00:26] apohllo opened #173 "Broken link in SQL commands"
`https://github.com/rom-rb/rom-rb.org/blob/master/source/learn/sql/commands.html.md` has a broken link pointing to `guides/basics/commands`. I haven't found this file anywhere in the source.

[2016-10-25 18:14] janjiss commented on #140
I was thinking more in the lines of - Do we use Rails, Roda or other framework as an example?

[2016-10-26 16:51] solnic commented on #140
we could start with rails, then add hanami when its new version is released, a trailblazer guide would be cool too

[2017-07-05 13:29] shadowbq commented on #140
Roda please

[2017-10-19 09:39] michallepicki opened #199 "Broken links on Advanced page in the current (4.0) documentation"
Links on [Advanced](http://rom-rb.org/current/learn/advanced/) page in the current (4.0) documentation lead to a 404

[2017-10-23 11:48] cpgo opened #201 "Wrong version on 4.0 documentation"
On [this file](https://github.com/rom-rb/rom-rb.org/blob/master/source/4.0/learn/getting-started/index.html.md) it says `Compatible with rom 3.0`, is it right or it was supposed to be `rom 4.0`?

[2017-10-23 20:23] flash-gordon commented on #201
Not quite right yet, atm only `rom-sql` is compatible with rom `4.0`, support for more adapters is coming soon.

[2017-10-24 00:10] cpgo commented on #201
But should we leave the text as it is?

[2017-10-24 10:40] solnic commented on #201
Yeah this has to be updated. I'd probably just add another table for rom 4.0 (and only rom-sql would be there for now). Sounds good?

[2017-10-24 10:41] solnic commented on #199
Thanks. Will fix.

[2017-10-24 10:42] #164 closed

[2017-10-24 10:42] #143 closed

[2017-10-24 10:43] #61 closed

[2017-10-24 10:44] #173 closed

[2017-10-24 10:44] #54 closed

[2017-10-24 10:45] #41 closed

[2017-10-24 10:46] solnic commented on #50
finally done 😅

[2017-10-24 10:46] #50 closed

[2017-10-24 10:48] #49 closed

[2017-10-24 11:09] #169 closed

[2017-10-24 11:09] #170 closed

[2017-10-24 11:12] solnic opened #202 "Embed API docs in the website"
Unfortunately rubydoc.info has some serious issues with caching and other weirdness. So it would be **amazing** if we could have a way of embedding API docs for all gems within the website, not to mention we could have custom styles matching rom-rb.org.

[2017-10-24 11:42] cpgo commented on #201
Sounds good to me.
Will you do It or wanna me to open a PR?

[2017-10-24 11:43] solnic commented on #201
PRs are always welcome

[2017-10-24 18:25] #201 closed

[2017-10-25 08:12] #199 closed

[2017-10-25 15:07] Kjarrigan opened #207 "Provide a full script as reference"
Hey guys,

every time I read that there is a new release of rom, I try to check it out as alternative to ActiveRecord because I really want one. I tried like 3 times but I just can't work out an working script to connect to an existing postgresql database to just fetch some records. I have to click to dozens of topics at rom-rb.org with small snippets showing me different options but there is no w

[2017-10-25 16:54] abrthel commented on #207
Could you can provide a quick db schema for me that illustrates a scenario you need documented?

Also are we talking just a simple single file script with all of the components or are you looking for a full fledged example with a particular framework?

[2017-10-26 07:25] solnic commented on #207
Just updated [quick start guide](http://rom-rb.org/4.0/guides/sql-quick-start/connecting-to-existing-database/) which explains exactly what you asked. Is this OK?

[2017-10-26 12:31] Kjarrigan commented on #207
Hi @abrthel

at the moment I'm most interested in the usage without a particular framework. I have quite a lot of scripts / cli-tools and even a few gui's (with fxruby) where I need to fetch some records from the database, do some magic and sometime update or delete some records.

Following you find a really simplified script with some common operations I do with AR and the SQL for the database-pa

[2017-10-26 13:27] abrthel commented on #207
@Kjarrigan, hey thanks for the info. I'm a bit busy today but leave this with me and I'll try and get a 'Putting it all together' guide created. Does the guide solnic linked to help or is it a matter of needed to see more features working together at once?

[2017-10-26 14:50] Kjarrigan commented on #207
Hey @abrthel somehow missed @solnic link. But that looks rather promising as a start but if you could spare some time to get a quick 'Putting it all together' guide up it would be awesome. Meanwhile I'll see if I can convert some of my scripts by the direction @solnic provided. If I get anything up and running I'll share it with you so there mightbe a showcase for others with "from AR to ROM"-exam

[2017-10-27 12:29] v-kolesnikov commented on #207
Hi, @Kjarrigan

This implementation quite dirty, but it's working!

[code]

If you going to make real application with ROM pay attention to https://github.com/dry-rb/dry-web-roda project which uses ROM widely.

[2017-10-30 07:18] Kjarrigan commented on #207
Hi @v-kolesnikov,

thats actually really helpfull and should be listed in the [guides](http://rom-rb.org/4.0/guides/) section as example for a more realistic reference as you usually have a couple of tables which are somewhat dependent instead of just connecting to a single table.

**Tanks a lot** :+1: There are quite some snippets I just couldn't figure out myself (e.g. how to set the schema_sear

[2017-10-30 07:18] #207 closed

[2017-10-30 13:11] solnic commented on #207
This script can be written in a simpler way, ie without repositories, and you can levarage schema features a bit better too. I'll get back to you with a sample script showing how I'd do it :)

Thanks man, I'm literally waiting for my flight to Japan right now :D

[2017-10-30 13:12] solnic opened #209 "Document advanced connection options"
refs #207

[2017-10-31 00:39] abrthel commented on #209
I'll take this one, I wanted to update the SQL adapter index page anyways and that seems like a good place for connection options.

[2017-10-31 12:33] solnic commented on #209
@abrthel sounds great! TY :)

[2017-11-04 01:04] solnic commented on #202
This is done. We have http://api.rom-rb.org now, and we embed the docs within rom-rb.org too.

[2017-11-04 01:04] #202 closed

[2017-11-06 02:37] abrthel commented on #209
Haven't forgotten about this one, just didn't get as far as I'd hoped. You can checkout my [current progress](https://github.com/abrthel/rom-rb.org/blob/2502739248c889568d3a9d7a5fa04b666a8015f9/source/4.0/learn/sql/index.html.md) but it should be completed in the next couple days or worse case next weekend.

[2017-11-06 02:57] abrthel commented on #33
If this can wait possibly a few weeks, I can take this one too. I have this faint idea of merging the Philosophy and Why ROM pages which should flow nicely into the new Core Concepts page (assuming it gets accepted).

[2017-11-06 12:38] solnic commented on #33
@abrthel sure no rush at all :) I like the idea of merging these 2 pages btw. I actually think there's too much text, and too little "essence", if you know what I mean. It should be possible to explain why rom might be a better choice, with less words 😆

[2017-11-08 23:22] apohllo opened #216 "Feedback on ROM - Overview"
I think that an image clarifying the relations between the concepts would make the whole picture more understandable.

[2017-11-09 01:11] abrthel commented on #216
https://github.com/rom-rb/rom-rb.org/pull/212/files

Does this document help?

[2017-11-09 07:48] solnic commented on #216
Coincidentally, we just ported this section to `Getting Started / Core Concepts`, please check it out http://rom-rb.org/4.0/learn/getting-started/core-concepts/ (it's got the image :))

[2017-11-09 12:46] apohllo commented on #216
Wow, great! :1st_place_medal:

[2017-11-09 12:47] #216 closed

[2017-11-09 22:15] abrthel commented on #33
I'm starting on this now, so I should have something to look at by Monday.

[2017-11-10 07:19] #209 closed

[2017-11-10 07:24] solnic commented on #207
FYI sql docs have been updated with a lot of details about connection options http://rom-rb.org/4.0/learn/sql/

[2017-11-16 17:17] janko-m opened #220 "Some links to classes/methods are broken"
<img width="514" alt="screen shot 2017-11-16 at 18 16 25" src="https://user-images.githubusercontent.com/795488/32905442-4603e43c-cafa-11e7-9c21-0cbf066186dc.png">

These links are listed at the bottom of http://rom-rb.org/4.0/learn/core/associations/, and clicking on them returns a `404`.

[2017-11-17 20:11] #220 closed

[2017-11-28 01:35] abrthel opened #222 "[learn] repository/reading-simple-objects missing relation"
The full example at the bottom of the page is missing the relation definition and should be added.

Ref rom-rb/rom-sql#268

[2017-11-28 01:37] abrthel commented on #222
If it's not fixed by then I'll get to this tomorrow. I'm just away from my dev machine tonight.

[2017-11-29 15:18] #222 closed

[2017-11-30 17:54] muescha commented on #120
the "Edit on GIthub" Buttons still not work and link to a 404

example:
http://rom-rb.org/4.0/learn/introduction/

link to 404:
https://github.com/rom-rb/rom-rb.org/blob/master/source/4.0/learn/introduction/index.html.slim

[2017-12-01 08:58] #120 closed

[2017-12-03 22:16] janko-m opened #227 "Feedback on ROM - Queries"
First of all, the documentation for ROM is excellent! 👏 (both RDocs and guides)

The "[Projecting function results]" section inside the "SQL - Queries" guide shows adding function calls to the SQL query using this syntax:

[code]

However, I couldn't find any clarification on this neither here nor in the `rom-sql` RDocs. I know that that this syntax is used for the SQL builder to know when you're

[2017-12-04 11:11] solnic commented on #227
Right, this should be documented. The reason why we require return type, is because we're inferring structs automatically, and we want to know both attribute names and their types.

[2017-12-07 10:50] #33 closed

[2017-12-07 11:11] solnic commented on #227
One more thing, we have `Any` type, so it is possible to add a generic function builder that doesn't require return type, like the `function::` syntax you proposed. WDYT @flash-gordon?

[2017-12-07 11:13] solnic opened #230 "Rewrite "ActiveRecord and ROM""
It should be now feasible to rewrite this section and turn it into a side-by-side comparison.

[2017-12-07 13:18] abrthel commented on #230
I was thinkin the exact same thing. Plus it its on my list.

[2017-12-07 16:44] solnic commented on #230
Cool! We can work on this together.

[2017-12-07 16:49] abrthel commented on #230
I would like that.
I'll distill as much of your moscow talk into the doc first, then post it so you can revise and add. Sound ok?
https://speakerdeck.com/solnic/rom-rb-4-dot-0-moscow-railsclub-2017

[2017-12-07 21:39] flash-gordon commented on #227
@solnic sounds like a nice idea. I think we could have `fun` for brevity.

[2017-12-08 10:01] solnic commented on #227
👉🏻 https://github.com/rom-rb/rom-sql/issues/270 👈🏻

[2018-01-15 09:51] #230 closed

[2018-01-15 16:05] abrthel opened #237 "Best Practices Guide"
Especially helpful for new comers, a best practices guide would collect random mind dumps from
Solnic & company from various sources, and compose them into several examples featuring the best and worst ways to use ROM.

It is my intention for this issue to remain open as to collect examples via comments until such time there
is a sufficient number of examples to create the guide.

**If you have fo

[2018-01-15 16:16] abrthel opened #238 "Document relation views & usecases"
*doc_page:* [core/relations](http://rom-rb.org/4.0/learn/core/relations/)

Relation views have basic documentation but only of simple examples. Documentation should include
some advanced usecase examples to better flesh out the power of the feature.

## Example Usecases

### `has_one` through `belongs_to`
By default, not supported but can be implemented via
[code]
and a view `Users#for_comments`

[2018-01-15 16:49] abrthel opened #239 "Functional Primer"
*doc_page:* introduction/functional-primer | advanced/functional-primer

Basic guide, introducing functional concepts in Ruby along with how they are used in ROM. Its intention is
not to teach functional programming but to provide a resource for users trying to understand ROMs source
code.

### Example Topics
 - Immutability
   - Stateless Objects
 - Composition
   - DI and `#with` functions ([exa

[2018-01-15 17:03] abrthel opened #240 "Document relation#wrap"
Docs need to further flesh out what `Relation#wrap` is used for and how it's used in comparison with `Relation#combine`

#### Notes

 - wrap should be used when you have an aggregate that always has associated data, in rom-sql it uses inner join to load it so basically you get all the data in one db query
 - compared to combine which queries each part individually; merging data happens in memory r

[2018-01-15 19:07] janko-m opened #241 "Clarifying ActiveModel::MissingAttributeError in the ActiveRecord comparison guide"
I was reading the new ActiveRecord comparison guide (great work on that!), and I saw the following snippet:

[code]

I'm guessing that what would trigger `ActiveModel::MissingAttributeError` would be trying to access other attributes, though seems that missing `#id` won't raise the exception, from the [ActiveRecord querying guide](http://guides.rubyonrails.org/active_record_querying.html):

So I w

[2018-01-15 19:22] abrthel commented on #241
Hmm, I need to rework this example. I remember going on a bit of a tangent here and later deleting the majority of the section. Its seems to be a leftover bit.

Thank you for bringing this to my attention, I really appreciate the help.

[2018-01-15 19:23] abrthel commented on #241
I might not get to this today, if you're able a PR would be awesome -- 😉 😉 :nudge: :nudge:

[2018-01-15 19:53] janko-m commented on #241
To be clear, I don't mind pointing out flaws in ActiveRecord one bit 😃, I just wasn't sure what the flaw with `ActiveModel::MissingAttributeError` was.

Certainly, I can add removing that part in the PR I'm gathering.

[2018-01-15 20:14] abrthel commented on #241
In this case the example doesn't match the error so removing it would be a good first step.

[2018-01-23 12:25] solnic opened #243 "Add "Plugin" how-to"

[2018-01-23 12:29] solnic opened #244 "Add a way to test code examples"
We need to ensure that examples execute, but this is tricky because:

- if we wrote examples in an executable way, so that their output can be verified, they would become cluttered, and we don't want that
- ...so, we need a way of converting example into an executable form, which we can run & verify
- ...moreover, we need to display code examples without the setup code, with an additional tab sayi

[2018-02-25 19:07] nonsenseless opened #249 "Feedback on ROM - Associations"
I'd like to work with y'all on preparing some kind of quickstart guide for setting up ROM. I'm working my way through trying to setup a bare bones rails project to use ROM and trying to piece together the exact steps I need to follow to get a very basic configuration going is *excruciatingly* painful. I don't mind doing legwork or anything, but it shouldn't be quite such a pain in the ass to figur

[2018-02-25 19:24] nonsenseless commented on #249
While chasing down something else, I came across this issue where the Repositories Quick Start guide is mentioned: https://github.com/rom-rb/rom-sql/issues/133

If that's intended to be a starting point, it might make sense to list it under the Getting Started guide in the side nav.

[2018-02-26 09:34] solnic commented on #249
Did you read http://rom-rb.org/4.0/learn/getting-started/rails-setup/ ?

[2018-02-26 12:35] nonsenseless commented on #249
Yes, several times.

On Feb 26, 2018 3:34 AM, "Piotr Solnica" <notifications@github.com> wrote:

[2018-02-26 12:45] solnic commented on #249
It is done automatically via rom railtie, which is explained here http://rom-rb.org/4.0/learn/getting-started/rails-setup/#configuring-railtie

An improved Rails-oriented guide would be very helpful. So a PR is most welcome.

[2018-02-27 09:57] srpouyet opened #250 "Feedback on ROM - Changesets"
Hi,

I'm using `rom 4.1.3` and `rom-sql 2.4.0` in a project generated by `dry-web-roda`. It seems `#changeset` isn't implemented on `Repository` as stated in the docs, but actually on [`Relation`](http://api.rom-rb.org/rom/ROM/Plugins/Relation/Changeset/InstanceMethods.html#changeset-instance_method). Is this correct, or am I missing something?

Thanks in advance!

Here's what I did in the project

[2018-02-27 10:01] srpouyet commented on #250
Aha, just found the answer on the [rom forum](https://discourse.rom-rb.org/t/how-do-you-set-timestamps-in-version-4-0/186/2):

[2018-02-27 10:01] #250 closed

[2018-03-03 08:32] alexandru-calinoiu opened #251 "The combination of `map_to` and `map_with` don't work as experted"
In this case `map_to` will take precedence and nothing from `map_with` will be applied.

[2018-03-03 11:29] solnic commented on #251
This issue was moved to rom-rb/rom#482

[2018-03-03 11:29] #251 closed

[2018-03-21 13:04] xero88 opened #252 "Feedback on ROM - Rails Setup"
I give up to install rom-rb on my project.
This documentation need a step to step setup into a rails project with a real database (like postgres).
This is frustrating, because rom-rb seems to be useful. But I can try 2-3 days to setup the gem.
Maybe I'm too noob to setup this gem.

[2018-03-21 13:22] xero88 commented on #249
I agree with nonsenseless, this is a such a pain, even with https://github.com/solnic/rom-rails-skeleton
I didn't succeed to setup rom-rb on my new project

[2018-03-21 14:05] solnic commented on #252
What problems did you have?

[2018-03-21 14:18] xero88 commented on #252
`bin/rails console`
`/var/lib/gems/2.4.0/gems/sequel-5.6.0/lib/sequel/database/connecting.rb:17:in `adapter_class': undefined method `to_sym' for nil:NilClass`

Maybe I can close this post, because more generally I have the same issues than https://github.com/rom-rb/rom-rb.org/issues/249

The lack of get-started with rails

[2018-03-21 15:02] solnic commented on #252
Fair enough. Maybe somebody will write a nice step-by-step tutorial for Rails.

[2018-03-21 15:02] #252 closed

[2018-03-21 16:03] cflipse commented on #252
I just yesterday released an update to rom-rails that fixes a couple of bootstrapping problems, and adds a `rom:install` generator that will probably help.

I'll also do some work this weekend on a bootstrapping guide for rom-rails.  There _are_ still a number of sharp edges, however.

[2018-03-22 09:19] xero88 opened #253 "Auto-struct with custom classes - undefined method"
I'm trying to use mapping to custom object :

[code]

[code]

`@results = rom.relations[:users].by_pk(1).one`

But when I do @results.hello, I got :

`undefined method `hello' for #<Entities::User id=1 name="test"> (attribute not loaded?)`

Any idea ?

(I'm using Rails)

[2018-03-22 09:43] solnic commented on #253
I can't reproduce it. This works:

[code]

[2018-03-22 10:17] xero88 commented on #253
https://github.com/rom-rb/rom-rails/issues/83

[2018-03-22 10:17] #253 closed

[2018-05-15 01:22] cpgo opened #259 "Feedback on ROM - Rails Setup"
On the [rails setup](http://rom-rb.org/4.0/learn/getting-started/rails-setup/) page the example `@user = rom.relation(:users).by_id(params[:id]).one` is not working for me.
I had to access the container with `@user = rom.relations[:users].by_id(params[:id]).one`.
Also I think it would help to be specific that we need to add `gem 'rom-sql'` besides `rom-rails` to our project.

[2018-05-25 11:33] solnic opened #260 "Explain somewhere that Sequel is an implementation detail"
...so that people don't make assumptions/have expectations based on what they know about Sequel.

Refs rom-rb/rom#499

[2018-06-01 10:10] solnic opened #262 "Set up auto-deployment"
It would be fantastic if every commit in master would result in auto-deploy.

[2018-06-05 17:23] abrthel commented on #260
Technically it says something to that effect on the first rom-sql page in the first paragraph but that's probably something that should get a bit more attention.

[http://rom-rb.org/4.0/learn/sql/](http://rom-rb.org/4.0/learn/sql/)

[2018-07-10 16:20] skade opened #265 "Rom website has Content Security Policy errors in iframe"
Navigate to: http://rom-rb.org/api/rom/

And click the "mapper" link in the readme.

Because rom-rb.org is HTTP and the link links to GitHub using HTTPS, there will be an error.

This should be fixed by serving rom-rb.org over https, which GH should provide now through let's encrypt.

[2018-08-25 10:07] solnic commented on #262
Done via https://github.com/rom-rb/rom-rb.org/commit/3b3dd0b84f35af09f9bc4f0147effafcbf90213b

[2018-08-25 10:07] #262 closed

[2018-08-28 08:14] madis commented on #265
Not just that but when I visit the url https://rom-rb.org/api/rom/ it tries to load iframe from http://localhost:4000/docs/rom

![screen shot 2018-08-28 at 11 13 57](https://user-images.githubusercontent.com/674621/44709935-91fdd700-aab3-11e8-90d7-8e63270c2829.png)

[2018-09-04 13:41] solnic commented on #265
I'm sorry but this is still broken, because we serve API docs from api.rom-rb.org, so browsers block this iframe by default. I need to figure out how to solve this.

[2018-11-28 22:57] thomas opened #270 "Missing docs for pagination plugin"
Can't find any documentation about the pagination plugin, how to enable it, etc.

[2018-11-29 09:10] solnic commented on #270
Thanks, we should definitely cover that in SQL docs. For the time being, all you need is this:

[code]

Instance API is documented [here](https://api.rom-rb.org/rom-sql/ROM/SQL/Plugin/Pagination.html#per_page-instance_method).

[2018-11-29 09:11] solnic opened #271 "Document pagination plugin"
Refs #270

[2019-02-18 13:06] solnic opened #273 "Document how to properly set up migration tasks"
Refs https://github.com/rom-rb/rom-sql/issues/319

[2019-04-17 12:19] v-kolesnikov opened #278 "Fix the missing link on `learn/sql/associations` page"
https://rom-rb.org/4.0/learn/sql/associations/#overridding-associations-with-custom-views

Looks like a missing link. I couldn't find this section.

[Discussion](https://rom-rb.zulipchat.com/#narrow/stream/191800-general/topic/Documentation.20(rom-rb.2Eorg)/near/163450699)

[2019-04-28 10:13] thedrow opened #279 "Document creating an adapter more throughoutly"
I have the following adapter code:

[code]

and I'm getting to following exception:

[code]

After digging a bit it seems I need to set the option base to be an instance but I'm not sure of which class.
So I did:

[code]

and now I get:

[code]

After adding fetch to the Relation class I get:

[code]

It's really not clear what I should be doing.
Can you guys please help me and also document the p

[2019-05-17 12:29] k0va1 opened #284 "Broken link in Advanced section"
Link `Custom Adapter` at https://rom-rb.org/5.0/learn/advanced/ doesn't work :(

[2019-05-17 18:15] #284 closed

[2019-06-07 14:34] k0va1 opened #288 "Fix all broken links"
There are a lot of broken links in documentation and it's really confusing when you click on it and see 404. So here is a bunch of links for fixing. Also I've added an autosearch for this stuff in https://github.com/rom-rb/rom-rb.org/pull/287
- docs/3.0/learn/advanced/index.html
  *  internally linking to /3.0/learn/advanced/custom_commands, which does not exist (line 11)
     <a href="/3.0/learn/

[2019-07-20 08:08] pedropaulino opened #293 "Localisation: Brazilian Portuguese"
Is there anyone already working on localisation of the guides and documentation for Brazilian Portuguese ? If possible, I'd like to do.

[2019-07-20 09:23] solnic commented on #293
The website does not support localization. This is a very low priority at the moment. We may consider doing it in the future though, so I'm leaving this as open but on hold.

[2019-08-23 10:51] ianks commented on #244
If the top of my head, there are a couple of prerequisites that will make doing this a lot easier:

1. Configure and use a "blessed" set of relations to be used in examples, i.e. users+tasks
2. Seperate the executable code from the templating system by using structured data of some sort, like a YAML definition, so it's easy to parse
3. Add a helper which "embeds" an executable definition in a temp

[2019-08-23 13:32] waiting-for-dev commented on #244
Have you considered something like doctest? I see there is an implementation in ruby:

https://github.com/p0deje/yard-doctest

The step missing would be bringing to life the following function: `f(yard, doctest) :: guides`

[2019-08-30 06:14] solnic commented on #244
@ianks @waiting-for-dev I started working on some improvements in #297 - I consider this to be the first step, because we need a nicer setup to be able to do more advanced things, testable code examples included. Once this PR is done and merged, I'll experiment with how we could have testable code examples and in general how embedding code examples could be improved. What Ian wrote in his comment

[2019-09-23 18:42] landongrindheim commented on #288
Thought I'd add a checklist so progress could be tracked more easily 🙂

* docs/3.0/learn/advanced/index.html
   - [ ] internally linking to /3.0/learn/advanced/custom_commands, which does not exist (line 11)
   - [ ] Custom Commands
* docs/3.0/learn/kafka/index.html
   - [ ] linking to internal hash #relation that does not exist (line 29)
   - [ ] relation
* docs/3.0/learn/repositories/changeset-t

[2019-09-30 15:56] solnic commented on #288
Putting this on-hold since I'll be restructuring the learn section and as a result some of these broken links might be gone. Docs from individual gems (core, repository, changeset) will be extracted into their repos + deprecated docs will be removed (ie kafka and probably cassandra too).

[2019-10-02 07:54] solnic opened #300 "Explain how auto-struct subclassing works"
The way auto-struct creates `ROM::Struct` subclassing is something worth explaining because there's (simple) magic behind it.

Relevant section is https://rom-rb.org/5.0/learn/core/structs/

[2019-10-18 12:03] mike-shock opened #302 "Error when running "Repositories » Writing Aggregates" sample"
I'm trying to run the sample from the page: https://rom-rb.org/5.0/learn/repositories/writing-aggregates/

But the line

**users.combine(:tasks).command(:create).call(user)**

causes the error:

[code]

[2019-10-21 08:20] solnic commented on #302
You must have a typo somewhere because the example works, I copied/pasted it from the docs and it worked:

[code]

[2019-10-21 08:20] #302 closed

[2020-01-12 01:48] venriq opened #305 "Feedback on ROM - Status"
Hi! I noticed that `rom-mongo` hasn't changed in the last three years and it's using the mongo driver gem `v2.2`. Is this because no one is supporting it or because no major changes are required?
I'm not sure if I'll have enough time but I could collaborate and update the versions.

[2020-01-13 08:29] solnic commented on #305
@venriq hey :) this adapter has never reached production quality simply because there was nobody who wanted to use it AND had the time to work on it. I believe just bumping driver versions won't be enough though. It's missing many features and it still relies on `origin` which was merged to `mongoid` project, and we don't want to depend on the whole mongoid probably. Anyhow, it is not maintained a

[2020-01-13 08:29] #305 closed

[2020-01-25 19:07] solnic commented on #288
Believe it or not but I fixed it all ;) OK not all, I left out `blog` section but I think that's OK.

We now verify internal links during deployment so deploy will fail if there's a broken link.

@k0va1 thank you for helping with this and introducing html-proofer. I added `rake check_links:internal` and `rake check_links:external` tasks and it's been very useful.

[2020-01-25 19:07] #288 closed

[2020-01-27 11:18] #265 closed

[2020-01-27 11:19] solnic commented on #265
closing this because we no longer embed API docs in an iframe

[2020-01-27 11:24] #259 closed

[2020-01-27 11:32] solnic commented on #270
Closing because as it was reported as https://github.com/rom-rb/rom-sql/issues/359

[2020-01-27 11:32] #270 closed

[2020-01-27 11:39] solnic commented on #123
Closing due to lack of activity but FWIW `Rails` section still needs improved documentation. It now lives under rom-rb/rom-rails project in `docsite` directory.

[2020-01-27 11:39] #123 closed

[2020-01-27 11:41] solnic commented on #45
didn't happen and won't happen and so I'm closing this

[2020-01-27 11:41] #45 closed

[2020-01-27 11:41] solnic commented on #70
closing due to lack of activity/progress

[2020-01-27 11:41] #70 closed

[2020-03-29 19:42] MicMicMon opened #312 "Feedback on ROM - Mapping"
Example code on how to use `add_timestamps` and `touch` would be nice, not having used the library before it's not totally clear from the write-up.

(page: https://rom-rb.org/learn/changeset/5.2/mapping/)

[2020-03-30 08:32] MicMicMon opened #313 "Feedback on ROM - Quick Start"
On page: https://rom-rb.org/learn/repository/5.2/quick-start/
[code]

As far as I understand, the snippet gives `CUD` capabilities, but not a `Read` capability, which would need to add a selector that routes to a `Relation` selector method.

[2020-03-31 10:54] solnic commented on #313
@MicMicMon technically speaking, repositories have full support for CRUD w/o `commands` declaration. You have access to *all relations* and they expose CRUD interface. How *you* encapsulate CRUD is important. That's why repositories exist - a place to encapsulate data access. This whole section should be improved or even rewritten to be honest.

For now we can just change this confusing sentence t

[2020-03-31 12:33] MicMicMon commented on #313
Ah ok. Indeed, that's not what I understood from the writeup :)

If you're interested, I can give a shot at a doc PR when I get my head around the various concepts. I guess it could be interesting coming from someone like me who has no prior background on ROM.

[2020-04-01 10:32] solnic commented on #313
@MicMicMon sure! contributions like that are always welcome

[2020-04-02 13:25] wmakley opened #314 "Feedback on ROM - Relations & Structs"
Example defines a `Users` relation class, but then immediately references the local variable "users" without indicating how to get there:

[code]

I am just trying to require ROM from scratch to learn it.

[2020-04-06 08:18] solnic commented on #314
Thanks for feedback. This is a problem with most of the code examples, showing entire setup in every single example would produce too much noise, that's why it's best to start with intro docs that explain that at run-time you work with relation *objects*.

Soon we'll have more advanced code examples with tabs, where you'll be able to click on "Full example" (or something like this) where a complet

[2020-04-06 08:18] #314 closed

[2020-04-06 13:08] wmakley commented on #314
Thanks for listening. I've been interested to try ROM for a while, but I'm having a lot of trouble because it feels like I have to piece it together. The full picture isn't on any page of the guide. I've read the conceptual overview, but it's very high level and it left me with lots of dots I couldn't connect on my own.

1. What is the difference between `config.relation` and `class MyRelation <RO

[2020-04-08 09:28] solnic commented on #314
The former uses configuration DSL, which is suitable for scripts but not for applications. The latter, so defining classes explicitly, is a typical way of using ROM with applications.

Yeah this is super confusing. We should explain configuration with explicit classes as THE way of using ROM. Using configuration DSL isn't really common anymore (it used to be in the early days).

The container bloc

[2020-06-22 11:01] fgi opened #317 "Typo in learn/factory guide"
[code]

I suppose it should be:
[code]
Thanks!

[2020-06-22 16:52] felideon commented on #252
For the record. I was getting the same error as above. Fixed by defining the fully qualified database URL, e.g. `postgres://host/db`.

[2020-11-23 07:06] Yaroslavzev opened #324 "Unclear documentation"
In [section](https://github.com/rom-rb/rom-rb.org/blob/master/source/5.0/learn/sql/migrations.html.md#migration-rake-tasks) is said that `rake db:clean - removes all tables`, but in description of [rake-task](https://github.com/rom-rb/rom-sql/blob/ce6e80f43d4a4d5ed9a18cda38ceb15685865171/lib/rom/sql/tasks/migration_tasks.rake#L72)  is said another
[code]
What is the intended behavior should be?

[2020-11-23 20:09] #324 closed

[2021-01-27 14:29] salticus opened #325 "The "Edit on Github" link on rom-rb.org quick-setup points to the old rom-rb/rom-core github repository."
The "Edit on Github" link on [rom-rb.org quick-setup](https://rom-rb.org/learn/core/5.2/quick-setup/) points to the old [rom-rb/rom-core](https://github.com/rom-rb/rom-core/blob/release-5.2/docsite/source/quick-setup.html.md) github repository.

- [ ] Change link to point to ~~this~~ the correct repository.
- [ ] Check other links on the site for the same issue.
- [ ] Ask about auto-link checking

[2021-03-24 16:58] UsAndRufus opened #327 "HTTP examples don't work"
The following snippet of code on https://rom-rb.org/learn/http/0.8/ doesn't work:

[code]

It should be:

[code]

(Removing `::JSON` from the module chain when specifying types).

I'm raising this an issue rather than a PR because I'm unsure whether this is an issue with the docs, or with the underlying model. I.e. should the first code snippet be correct or not? If it's just a docs error, happy t

[2021-03-25 09:05] solnic commented on #327
Thanks, for now let's do this:

[code]

in the future, we probably want to add `Types::JSON::(String,Integer)` even though they'd be plain definitions, but it's a weird "gotcha" that is clearly problematic. We already did this with `Types::Params::String` that originally wasn't present. /cc @flash-gordon makes sense to you?

[2021-03-25 16:25] flash-gordon commented on #327
it does. Not sure about arrays or object. Mb `JSON::Object` and alias for hash? This can have implications for dry-schema though (that messaging thing again)...

[2021-03-26 09:00] solnic commented on #327
@flash-gordon ahh yeah we talked about this recently. Yeah `JSON::Object` makes sense, and the error messages should be changed in 2.0.0s 🙂 anyhow, not strictly related to this issue here, we can follow-up in a discourse thread (I'll create it later).

@UsAndRufus could you open a PR with the example updated like in my comment above?

[2021-03-26 10:26] UsAndRufus commented on #327
@solnic sure, which is the correct file to update? I can see it in the [rom-rb.org](https://github.com/UsAndRufus/rom-rb.org/blob/master/source/5.0/learn/http/index.html.md) repo and the [rom-http](https://github.com/rom-rb/rom-http/blob/d77472ce077fb96bd1f402fa30388ea79bcfb5d5/docsite/source/index.html.md) repo. Is there a Rake task or something that copies them across or will both need updating

[2021-03-30 15:29] #325 closed

[2021-03-30 15:42] solnic commented on #325
Looks like it works well now. Thanks for helping with this! ❤️

[2021-07-09 14:05] UsAndRufus commented on #327
Closing this as PR that addresses it is merged :)

[2021-07-09 14:05] #327 closed